<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>codathon ~ home</title>
		<link rel="stylesheet" href="../css/1140.css" type="text/css" />
		<link rel="stylesheet" href="../css/site.css" type="text/css" />
        <script src="{{jQueryScriptUrl}}" type="application/javascript"></script>
		<script src="../js/site.js" type="application/javascript"></script>
        <script type="application/javascript">
            function renderCountDown(remainingTime) {
                timeComponent = Math.floor(remainingTime / (24 * 60 * 60));
                remainingTime -= timeComponent * (24 * 60 * 60)
                $("#days").html(zeroPad(timeComponent))
                timeComponent = Math.floor(remainingTime / (60 * 60))
                remainingTime -= timeComponent * (60 * 60)
                $("#hours").html(zeroPad(timeComponent))
                timeComponent = Math.floor(remainingTime / (60));
                remainingTime -= timeComponent * (60)
                $("#minutes").html(zeroPad(timeComponent))
                timeComponent = remainingTime
                $("#seconds").html(zeroPad(timeComponent))
            }

            function startCountDown(remainingTime) {
                remainingTime = Math.max(0, remainingTime)
                renderCountDown(remainingTime)
                setInterval(function() { if (remainingTime == 0) window.location.reload(); else renderCountDown(--remainingTime) }, 1000)
            }

            function signIn() {
                var teamCode = prompt("Enter your teamCode:")
                if ((teamCode == null) || (teamCode.length != 6)) exit();
                else window.location = "/home?teamCode=" + teamCode
            }
        </script>
	</head>
	<body>
        {{wrapperElementStart}}
                <b>1</b> new question will be released every <b>{{questionReleaseIntervalInMinutes}}</b> minutes throughout the 
                <b>{% if contestDurationInMinutes % 60 %} {{contestDurationInMinutes/60}} {% else %} {{contestDurationInMinutes//60}}{% endif %}</b> 
                hour duration of this event (i.e. a total of <b>{{contestDurationInMinutes//questionReleaseIntervalInMinutes}}</b> questions). 
                Each question will be accompanied by 2 test-cases: a <b>small</b> test-case (worth <b>5</b> points) and a <b>large</b> test-case (worth <b>10</b> points).<br><br>
                All we need are your <b>answers</b> <i>(that's right, no source code required)!</i><br>
                The team that earns the <b>most points</b> in the <b>shortest</b> time wins...<br><br>

                {% if currentTimeAsEpochTime < contestEndTimeAsEpochTime %}
                    <div style="display: inline-block; padding: .05em; margin: 2em 0;">
                        <img src="../images/signIn.png" style="display: inline; vertical-align: middle; padding-right: 1em; margin-right: 1em; border-right: 2px solid #222;"/>
                        {% if teamCode|length > 0 %}
                            <a class="textLink" style="font-weight: normal; display: inline-block; vertical-align: middle;" href="/home"><b>SignOut</b></a>
                        {% else %}
                            {% if currentTimeAsEpochTime < contestStartTimeAsEpochTime %}
                                <div style="float: right; text-align: left; display: block; vertical-align: middle;">
                                    <span class="textLink" style="font-weight: normal; display: block;" onclick="window.location='{{registrationLink}}'"><b>ClickHere</b> to register</span>
                            {% endif %}
                                    <span class="textLink" style="font-weight: normal; display: inline-block; vertical-align: middle;" onclick="signIn()"><b>SignIn</b> to answer questions</span>
                            {% if currentTimeAsEpochTime < contestStartTimeAsEpochTime %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}

                <div id="countDownBox">{{countDownBoxMarkUp}}</div>

        {{wrapperElementEnd}}
        {{footerElement}}
	</body>
</html>
